.form-wrap{
    width: 100%;
    height: 768px;
    background-image: url('../assets/home_back.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card-wrap{
    margin: 8% auto;
}

.home-logo{
    width: 250px;
}